{% extends 'base.html.twig' %}

{% block body %}

    <div class="top_banner">
        <img src="/assets/medias/mattias-olsson-nQz49efZEFs-unsplash.jpg" alt="">
        <a href="#figures">
            <div class="go_back"></div>
        </a>
    </div>

    {% for message in app.flashes('success') %}
        <div id="msg_flash" class="container flash-success">
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        </div>
    {% endfor %}

    <section id="figures" class="figures">
        {% for figure in figures %}
            <div class="card" style="width:300px">
                <a href="{{ path("trick_show", { id: figure.id }) }}">
                    <img class="card-img-top" src="{{ figure.thumbnail }}" alt="Card image">
                </a>
                <div class="card-body trick_card">
                    <a href="{{ path("trick_show", { id: figure.id }) }}">
                        <h6 class="card-title">{{ figure.title }}</h6>
                    </a>
                    <div class="edit_trash">
                        <a href="{{ path("trick_edit", { id: figure.id }) }}"><i class="fa-solid fa-pen"></i></a>
                        <a href="{{ path("trick_delete", { id: figure.id }) }}"><i class="fa-solid fa-trash-can"></i></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>


{% endblock %}
